<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="together">
 

  <select id="totalRecord" resultType="java.lang.Integer">
  	select count(*) from together
  </select>
  <!-- hi -->
  <select id="selectAll" resultType="togetherVo">
    select
	    t_num,
	    t_title,
	    t_intro,
	    t_detail,
	    t_open_date,
	    t_thumbnail,
	    t_place,
	    t_date,
	    t_size,
	    t_attendee_cnt,
	    t_fname,
	    user_id,
	    t_comment_step,
	    t_comment,
	    t_hit from
	(	select
			rownum n,
			t_num,
			t_title,
			t_intro,
			t_detail,
			t_open_date,
			t_thumbnail,
			t_place,
			t_date,
			t_size,
			t_attendee_cnt,
			t_fname,
			user_id,
			t_comment_step,
	    	t_comment,
			t_hit from
	(	select * from together order by t_num desc	)	)
	where n between #{start} and #{end}
	<if test="keyword !=null and keyword !=''">
	   		and ${searchColumn} like '%' || #{keyword} || '%'
	</if>
	<if test="sortColumn != null">
		order by ${sortColumn}
	</if>
  </select>
  
  <!-- <select id="selectAll" resultType="togetherVo">
  	select * from together
  </select> -->


 <!--
 <select id="selectAll" resultType="togetherVo">
    select t_num, t_title, t_intro, t_detail, t_open_date, t_thumbnail, t_place,
    		t_date, t_size, t_attendee_cnt, t_comment, t_comment_step, t_fname, user_id, t_hit from 
    	( select rownum r, t_num, t_title, t_intro, t_detail, t_open_date, t_thumbnail, t_place,
    		t_date, t_size, t_attendee_cnt, t_comment, t_comment_step, t_fname, user_id, t_hit from 
    		( select * from together order by t_num desc )) 
   	 		where r between #{start} and #{end}
   	  		<if test="keyword != null and keyword =''">
   	 			and ${searchColumn} like '%' || #{keyword} || '%' 
   	 		</if>
   	 		<if test="sortColumn != null">
   	 			order by ${sortColumn}
   	 		</if>
  </select> --> 
 
  <select id="detail" resultType="togetherVo">
    select * from together where t_num=#{t_num}
  </select>
  
  
  <!-- t_num이 없어서 인서트가 안됐던것. 일단 시퀀스는 나중에 확인하고 데이터 들어가는지만 테스트 -->
  <!-- <insert id="insertTogether">
  	insert into together values(#{t_title},#{t_intro},#{t_detail},sysdate,#{t_thumbnail},#{t_place},#{t_date},10,5,'안녕','네',#{t_fname},'wonwoo',0)
  </insert> -->
  
  <insert id="insertTogether">
  	insert into together values(#{t_num},#{t_title},#{t_intro},#{t_detail}, sysdate,#{t_thumbnail},#{t_place},#{t_date},#{t_size},5,'안녕','네',#{t_fname},'wonwoo',0)
  </insert>
  
  <update id="updateTogether" parameterType="Map">
  	update together set t_thumbnail=#{t_thumbnail,jdbcType = VARCHAR},t_title=#{t_title},t_intro=#{t_intro},t_detail=#{t_detail},t_place=#{t_place},t_open_date=#{t_open_date,jdbcType = VARCHAR},t_date=#{t_date,jdbcType = VARCHAR},t_size=#{t_size},t_fname=#{t_fname,jdbcType = VARCHAR} where t_num=#{t_num} 
  </update>
  
  <delete id="deleteTogether">
  	delete from together where t_num =#{t_num}
  </delete>
  
</mapper>